html, body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: purple;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
    width: 350px;
    height: 400px;
    border-radius: 10px;
}

form h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

input#email, input#password {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    height: 70%;
}

label {
    position: absolute;
    display: flex;
    z-index: 1;
    color: white;
    height: 60px;
    font-size: 17.5px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.emailContainer, .passwordContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 60px;
    width: 100%;
}


.emailLetter.hovered, .passwordLetter.hovered {
    padding-top: 0px;
    transition: padding-top 200ms ease;
}

.emailLetter, .passwordLetter {
    padding-top: 30px;
    transition: padding-top 200ms ease;

}

.emailSpan, .passwordSpan {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
}

input#login {
    background-color: indigo;
    border-radius: 10px;
    height: 50px;
    border: none;
    color: white;
    font-size: 15px;
}

.credentialsContainer {
    display: flex;
    width: 80%;
    height: 80%;
    justify-content: space-around;
    flex-direction: column;
}

.formFooter {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.formFooter a {
    text-decoration: none;
}